<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>YOSHIUTA快樂學歌詞</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <!-- 左側選項 -->
        <h3>選項</h3>
        <ul class="list-group">
          <li class="list-group-item">登入</li>
          <li class="list-group-item">歌曲列表</li>
          <li class="list-group-item">新增歌曲</li>
        </ul>
      </div>
      <div class="col-md-9 main">
        
        <!-- 影片區域 -->
        <div class="row mt-4">
          <div class="col-md-12">
            <h3>影片</h3>
            <video controls id="videoPlayer" width="100%">
              <source id="videoSource" src="" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="col-md-12 mt-4">
            <!-- 影片說明 -->
            <h4>影片說明</h4>
            <p id="videoDescription"></p>
            
            <hr>
            
            <!-- 歌詞 -->
            <h4>歌詞</h4>
            <p id="songLyrics"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    // 在這裡你可以開始使用 jQuery 來操作元素和處理事件
    // 例如，你可以使用 AJAX 請求從後端獲取歌曲列表，然後將它們顯示在 #recentSongs 元素中
    // 也可以實現搜尋功能，當用戶輸入內容到搜尋框時，搜尋符合的歌曲並更新列表
  </script>
</body>
</html>
